@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #0077b6;
  --secondary-color: #00b4d8;
  --light-color: #caf0f8;
  --dark-color: #333;
  --alternate-color: #5eeb5b;
}

::selection {
  color: var(--primary-color);
  background: var(--light-color);
}

::placeholder {
  color: var(--light-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  background: var(--dark-color);
  color: var(--light-color);
  display: flex;
  justify-content: center;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}

h1 {
  margin: 1rem 0;
  font-size: 5rem;
}

h2 {
  margin-top: 1rem;
  font-size: 3rem;
}

input {
  background: none;
  border: 1px solid var(--light-color);
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-radius: 10px;
  color: var(--light-color);
  width: 100%;
  height: 3rem;
}

button {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  background: 0;
  border: none;
}

.container {
  max-width: 70%;
  margin-top: 2rem;
}

.list-container {
  padding: 0 1rem;
}

.todo-container {
  margin: 1rem 0;
}

.completed {
  text-decoration: line-through;
}

.btn {
  width: 50%;

  padding: 1rem 2rem;
}

.btn-edit {
  color: orange;
}

.btn-delete {
  color: red;
}

.save {
  color: var(--alternate-color);
}

.btn-submit {
  width: 100%;
  color: var(--alternate-color);
  height: 3rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border: 1px solid var(--alternate-color);
  border-radius: 10px;
}
